@import "Components/BlogRoom.css";
@import "Components/PhotoGallery.css";
@import "Components/TechLife.css";
@import "Components/Portfolio.css";
@import "Components/myCard.css";

@media only screen
and (min-device-width: 1347px) {
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 4% 28% 18% 35% ;
    grid-template-areas:
            "nav nav"
            "header portf"
            "me me"
            "photo blog";
}

.navBar {
    grid-area: nav;
    background-color: gray;
}
.top {
    grid-area: header;
    grid-template-columns: 23% 77%;
    grid-template-areas: "corner head";
}
.header {
    width: 85%;
    grid-area: head;
}
.myName {
    font-size: 8vh;
    font-family: "Lucida Calligraphy", sans-serif;
    font-weight: bold;
    color: midnightblue;
    margin: 2% auto 1% 15%;
}
.subTitle {
    font-size: 3.5vh;
    font-family: "Lucida Handwriting", sans-serif;
    color: blue;
    margin-left: 30%;
}
.me {
    width: 60%;
    transform: scaleX(-1);
    margin: 2% auto auto 42%;
    border-radius: 30%;
}
.blog {
    width: 100%;
    grid-area: blog;
    background-color: #cac9c9;
    border-radius: 2%;
    margin-top: 8%;
    padding-bottom: 70%;
}
.photo {
    grid-area: photo;
    margin-top: -3%;
    margin-left: 5%;
}
.coder {
    font-size: 3vh;
    margin-left: -10%;
    font-weight: bold;
    color: #6c016d;
}
.techLife {
    grid-area: me;
    margin-top: 7%;
}
.myCard {
    grid-area: corner;
    margin: -35% 58% 16% 0;
}
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px) {

.container {
    grid-area: body;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
            "header"
            "me"
            "portf"
            "blog"
            "photo";
    }
.top {
    grid-area: header;
    display: grid;
    grid-template-columns: 80vw 20vw;
    grid-template-areas: "header corner";
    }
.header {
    grid-area: header;
    }
.myName {
    font-size: 5vh;
    margin-top: 3vh;
    margin-left: 1vw;
    font-family: "Lucida Calligraphy", sans-serif;
    font-weight: bold;
    color: midnightblue;
}
.subTitle {
    font-size: 3vh;
    font-family: "Lucida Handwriting", sans-serif;
    color: blue;
    margin-left: 25vw;
}
.me {
    width: 70vw;
    height: 40vh;
    transform: scaleX(-1);
    margin-left: 3vw;
    margin-top: 3vh;
    border-radius: 25vw;
}
.blog {
    grid-area: blog;
    background-color: #cac9c9;
    border-radius: 2vw;
    margin-top: 2vh;
    padding-right: 10vw;
    }
.photo {
    grid-area: photo;
    }
.girl {
    width: 30vw;
    height: 15vw;
    }
.coder {
    font-size: 2vh;
    margin-left: -10vw;
    font-weight: bold;
    color: #6c016d;
    }
.techLife {
    grid-area: me;
    margin: 5vh 0;
    }
.myCard {
    grid-area: corner;
    margin: 20vh -20vw 0 -1vh;
    }
.navBar {
    width: 0.1vw;
    display: none;
}
}
