@import "Components/BlogRoom.css";
@import "Components/PhotoGallery.css";
@import "Components/TechLife.css";
@import "Components/myCard.css";

.container{
    display: grid;
    grid-template-columns: auto auto 50%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "header header right"
            "main main right";
}
.top {
    grid-area: header;
    grid-template-columns: 13% 87%;
    grid-template-areas: "corner head";
}
.main2 {
    grid-area: right;
}
.header {
    margin-right: 0;
    width: 70%;
    grid-area: head;
}
.myName {
    font-size: 8vh;
    font-family: "Lucida Calligraphy", sans-serif;
    font-weight: bold;
    color: midnightblue;
}
.subTitle {
    font-size: 4vh;
    font-family: "Lucida Handwriting", sans-serif;
    color: blue;
    margin-left: 15%;
}
.me {
    width: 60%;
    margin-left: 42%;
    margin-top: 2%;
    border-radius: 40%;
    filter: sepia(65%);
}
.blog {
    width: 100%;
    grid-area: right;
    background-color: #cac9c9;
    border-radius: 2%;
    margin-top: 5%;
}
.photo {
    grid-area: main3;
}
.girlCoder {
    grid-area: main;
    margin: -2% 0 0 55%;
    transform: rotate(30deg);
}
.coder {
    font-size: 3vh;
    margin-left: -10%;
    font-weight: bold;
    color: #6c016d;
}
.techLife {
    grid-area: main;
    margin-top: 13%;
}
.myCard {
    grid-area: corner;
    margin-left: -25%;
    margin-top: -20%;
    z-index: -1;
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px)
    /*and (orientation: landscape) {*/ {

    .container{
        display: grid;
        grid-template-columns:auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
                "top top"
                "main main"
                "main2 main2";
    }
    .top {
        grid-area: top;
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-areas: "header corner";
    }
    .header {
        grid-area: header;
    }
    .myName {
        width: 107%;
        font-size: 6vh;
        font-family: "Lucida Calligraphy", sans-serif;
        font-weight: bold;
        color: midnightblue;
        margin-left: 0;
    }
    .subTitle {
        width: 150%;
        font-size: 4vh;
        font-family: "Lucida Handwriting", sans-serif;
        color: blue;
        margin-left: 25%;
    }
    .me {
        width: 85%;
        height: 70%;
        margin-left: 3%;
        margin-top: 5%;
        border-radius: 40%;
        filter: sepia(65%);
    }
    .main2 {
        grid-area: main2;
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-areas: "photo blog";

    }
    .blog {
        grid-area: blog;
        background-color: #cac9c9;
        border-radius: 2%;
        margin-top: 15%;
        padding-right: 10%;
    }
    .photo {
        grid-area: photo;
        margin-top: 10%;
    }
    .girlCoder {
        grid-area: main;
        width: 45%;
        margin: 3% 0 30% 35%;
        transform: rotate(30deg);
    }
    .girl {
        width: 30%;
        height: 15%;
    }
    .coder {
        font-size: 2vh;
        margin-left: -10%;
        font-weight: bold;
        color: #6c016d;
    }
    .techLife {
        grid-area: main;
        margin-top: 25%;
    }
    .myCard {
        grid-area: corner;
        margin-top: 185%;
        margin-left: 0;
    }
}