.blogRoom {
    font-size: 5vh;
    font-weight: bolder;
    margin: 2% 0 4% 10%;
}
li {
    margin-left: 10%;
    margin-bottom: 2%;
}
ul {
    margin-bottom: 10%;
}
.blogTitle {
    font-size: 3vh;
    text-decoration: underline;
}
.BlogAuthor {

}
.built {
    margin-left: 16%;
    margin-top: 1%;
    border-radius: 20%;
}
.bh {
    color: midnightblue;
    text-decoration: none !important;
}
video {
    border-radius: 15%;
}
video:active, video:focus {
    outline: none;

}