.blogRoom {
    font-size: 5vh;
    font-weight: bolder;
    margin: 2% 0 4% 10%;
}
li {
    margin-left: 10%;
    margin-bottom: 2%;
}
ul {
    margin-bottom: 10%;
    list-style-type: none;
}
.blogTitle {
    font-size: 3vh;
    text-decoration: underline;
}
.built {
    margin-left: 16%;
    margin-top: 1%;
    border-radius: 20%;
}
.bh {
    color: midnightblue;
    text-decoration: none !important;
}
video {
    border-radius: 15%;
}
video:active, video:focus {
    outline: none;

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px)
    /*and (orientation: landscape) {*/ {
    .blogRoom {
        font-size: 3vh;
        font-weight: bold;
        margin: 0 0 -3% 5%;
    }
    li {
        margin-left: 0;
        margin-bottom: 2%;
    }
    ul {
        margin-bottom: 10%;
    }
    .blogTitle {
        font-size: 2.3vh;
        text-decoration: underline;
    }
    .blogList {
        padding-left: 1%;
        width: 105%
    }
    .built {
        margin-left: 8%;
        margin-top: 1%;
        border-radius: 20%;
        width: 65%;
    }
    .builtTitle {
        margin-top: -5%;
    }
    .bh {
        color: midnightblue;
        margin-top: 8%;
        margin-left: 13%;
        text-decoration: none !important;
    }
    video {
        border-radius: 15%;
        width: 115%;
        margin-left: -13%;
    }
    #myvideo {
        margin-top: 2%;
        width: 110%;
        height: 110%;
    }
}
