.card {
   font-size: 3.3vh;
}
.social {
    padding: 5%;
    font-size: 2.5vh;
}
ul {
    list-style-type:none;
}
.socialIcon {
    margin-left: 1%;
}
.resume {
    margin-top: 25%;
    margin-left: 30%;
    font-size: 3vh;
}
a{
    text-decoration: none;
}