.card {
   font-size: 3.3vh;
}
.social {
    padding: 0 6%;
    font-size: 2.5vh;
}
ul {
    list-style-type:none;
}
.socialIcon {
    margin-left: 1%;
    width: 3%;
}
.resume {
    margin-top: -3%;
    margin-left: 20%;
    font-size: 3vh;
}
a{
    text-decoration: none;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px)
    /*and (orientation: landscape) {*/ {

    .card {
        padding-left: 0;
        margin-left: -12%;
    }
    .resume {
        margin-top: 45%;
        margin-left: 0;
    }
    .social {
        padding: 3%;
        font-size: 2.3vh;
    }
    .resume {
        display: none;
        font-size: 2.6vh;
    }
    .socialIcon {
        width: 10%;
    }
}