.card {
   font-size: 2.3vh;
    Display: inline-grid;
}
.social {
    padding: 5%;
}
ul {
    list-style-type:none;
}
.socialIcon {
    margin-left: 1%;
}
.resume {
    margin-top: 55%;
    margin-left: 10%;
    font-size: 3vh;
}
a{
    text-decoration: none;
}