.photoGallery {
    font-size: 5vh;
    font-weight: bolder;
    margin: 4% 0 1% 10%;
}
.gallery {
    font-size: 12vh;
    color: indigo;
    margin-left: 10%;
    margin-bottom: 22%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px)
and (-webkit-device-pixel-ratio: 2)
    /*and (orientation: landscape) {*/ {
    .photoGallery {
        font-size: 3.8vh;
        font-weight: bold;
        margin: 4% 0 1% 1%;
    }
    .gallery {
        font-size: 6vh;
        color: indigo;
        margin-left: 10%;
        margin-bottom: 22%;
    }
}