@import './Tonya/tonya.css';

root, html, body { height: 100%}

body {
  background: lightgray;
  font-family: Roboto, sans-serif;
  margin: 1%;
  position: relative;
}
.footContainer {
  display: grid;
  grid-template-columns: auto auto;grid-template-areas:
        " left right ";
}
.copyright {
  font-size: 2vh;
  z-index: 50;
  grid-area: left;
  width: 100%;
  padding-top: 20%;
  padding-left: 45%;
}
.footer {
  grid-area: right;
  color: lightgrey;
  position: absolute;
  padding-top: 10%;
  right: 0;
  width: 15%;
  z-index: 150;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 1346px)
  /*and (orientation: landscape) {*/ {
  .footer {
    width: 50%;
    padding-top: 3%;
    margin-right: -2%;
    right: -20%;
    z-index: -1;

  }
  .copyright {
    font-size: 1.5vh;
    grid-area: left;
    width: 100%;
    padding-top: 17%;
    padding-left: 25%;
  }
}